body {
    margin: 0;
    background: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Norse-Bold;
    src: url(../font/Norse-Bold.otf);
}

.left-side {
    width: 35vw;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    align-items: center;
}

.logo-img img{
    width: 6rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo-text {
    font-family: Norse-Bold, sans-serif;
    font-size: 6rem;
    text-align: center;
    color: white;
}

.logo-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first-part {
    background-color: rgb(240, 240, 240);
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2.5vw;
    padding-top: 12vh;
    padding-bottom: 5.5vh;
}

.second-part {
    background-color: white;
    padding-left: 2.5vw;
}

.third-part {
    background-color: rgb(240, 240, 240);
    padding-left: 2.5vw;
}