body {
    margin: 0;
    background: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Norse-Bold;
    src: url(../font/Norse-Bold.otf);
}

.left-side {
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    opacity: 1;
    display: flex;
    font-family: Norse-Bold, sans-serif;
    font-size: 64px;
    text-align: center;
}

.right-side {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
}

.first-third {
    font-size: 32px;
    width: 65vw;
}